*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(20, 19, 19);
    width: 100%;
    height: 100vh;
    
   
}
header{
    width: 100%;
    background-color: black;
    padding:20px 0 20px 0;
    text-align: center;
    color: white;
    border-bottom: 3px solid white;

}
header h3{
    font-size: 25px;
}
#Game{
    width:450px;
    position: relative;
    flex-wrap: wrap;
    border-radius:5px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 253);   
}
#Game button{
    position: absolute;
    top: -50px;
    right: -35px;
    width:70px;
    height: 70px;
    border-radius: 50%;
    border:3px solid white;
    color: white;
    background-color: black;
    cursor: pointer;
}
.box{
    width: 100px;
    border-radius:5px;
    height: 100px;
    margin: 5px;
    background-image: url("Images/Quess.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.box img{
   width: 100%;
   height: 100%;
   border-radius:5px;
   opacity: 0;
}